numpy
pandas
cupy
cuda-version==12.8
astropy
seaborn
scikit-image
scikit-spatial
pytest
pytest-order
matplotlib==3.8.4
ujson
zarr
pycudadecon
dphtools
tifffile==2023.9.18
imagecodecs==2023.9.18
nvitop
pycuda
pytest
tqdm
cachetools
line_profiler_pycharm